# Dependencies
frontend/node_modules/
frontend/dist/

# Go
backend/tmp/

# Env files
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Superpowers
.superpowers/

# Docker
postgres-data/
node_modules
